.box1 {
    width: 100px;
    height: 100px;
    background: green;
}
.box2 {
    width: 100px;
    height: 100px;
    background: green;
}
.box3 {
    width: 100px;
    height: 100px;
    background: green;
}
.box4 {
    width: 100px;
    height: 100px;
    background: green;
}
.box5 {
    width: 100px;
    height: 100px;
    background: green;
}
.box6 {
    width: 100px;
    height: 100px;
    background: green;
}